################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chessproj/chessproj.VC.VC.opendb
/chessproj/.vs/chessproj/v15/Browse.VC.opendb
